<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <title>{{ page.title }}</title>
    <meta name="author" content="{{ site.author }}" />
    <meta name="viewport" content="width=device-width; initial-scale=1.0" />
    <link
      rel="stylesheet"
      type="text/css"
      href="/assets/css/effector-wide.css"
    />
    <link rel="stylesheet" type="text/css" href="/assets/css/tricolore.css" />
    <!-- RSS -->
    <link
      rel="alternate"
      type="application/rss+xml"
      title="RSS for {{ site.title }}"
      href="/feed/"
    />
  </head>
  <body onload="prettyPrint()">
    <div class="container">
      <h1 class="sitename">TICK IT</h1>
      <p class="siteaddress">
        <i>http://www.linyi.press</i>
      </p>
      <div class="nav">
        <a href="/">最新</a>
        <a href="/archive">归档</a>
        <a href="/tag">标签</a>
        <a href="/about">作者</a>
        <!--
        <a href="/category">category</a>
        -->
        <a href="/feed/">订阅</a>
      </div>
      {{ content }}
      <br />
      <footer>
        <script>
          div#dash-main-id-878936 {float: left;white-space:normal; }
        </script>
        <br />
        <p>
          <small>
            Designed by <a href="http://www.linyi.press/about">林谊</a> |
            阅读统计
	    <a target="_blank" title="51la网站统计" href="https://v6.51.la/land/JhLzXBEfPv9Vb7G0">
	      <span style="display:inline-block;background-color:#BDBDBD;line-height: 1.2;" class="icon-demo">51La</span>
	    </a>
	    <script src="/assets/js/51count.js"></script>
          </small>
        </p>

        <!-- inspired by http://effectortheme.tumblr.com/ -->
      </footer>
    </div>
    {% if page.url != "/" %} {% endif %}
  </body>
</html>
